:root {
    --primary: #4d60a5;
    --yellow: #ffdd00;
    --red: #bd0303;
}

html, body {
    font-size: 14px;
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='email']:focus, input[type='search']:focus, 
input[type='number']:focus, input[type='tel']:focus, 
input[type='text']:focus, input[type='password']:focus, 
textarea:focus, select:focus{
    outline: 0;
}

a{
    color: var(--primary);
}

a:hover{
    opacity: 0.8;
    text-decoration: none;
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.5rem;
}

li{
    list-style:none;
}

img[data-src].lazy{
    -ms-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

img[src].lazy{
    -ms-opacity: 1;
    opacity: 1;
}

.strike{
    text-decoration: line-through;
}

.breadcrumb{
    margin: 1rem 0;
}

.text-red{
    color: var(--red) !important;
}

#header{
    padding: 0;
}

#header .header-top{
    padding: 10px 0;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;
}

#header.fixed-header .header-top{
    padding: 5px;
}

.fixed-header .logo{
    max-width: 170px;
}

.prevent-event{
    pointer-events: none;
    opacity: 0.6;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.pagination{
    justify-content: center;
}

.pagination .page-item.active .page-link{
    background-color: var(--primary);
    border-color: var(--primary);
}

.pagination .page-link{
    color: var(--primary)
}

.shortcode-info{
    padding: 15px;
    background: #f8f7fd;
    border-radius: 5px;
}

.shortcode-info .wrap{
    display: flex;
}

.shortcode-info .wrap .item{
    flex: 1;
}

.shortcode-info .wrap .item p{
    padding-left: 40px;
}

.shortcode-info h5{
    margin-bottom: 15px;
}

.border-right-style{
    border-right: 2px solid #ddd;
    padding-right: 15px;
}

.bg-kangen{
    background: var(--primary) !important;
    color: #fff !important;
    font-size: 13px;
}

.text-kangen{
    color: var(--primary)
}

.section-title{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.section-title .icon{
    margin-bottom: 15px;
}

.section-title .icon i{
    font-size: 25px;
    color: var(--primary);
}

.section-title a{
    color: var(--primary);
}

section{
    padding: 25px 0;
}

.section-banner img{
    border-radius: 5px;
}

/* HEADER */

header{
    padding: 10px 0;
}

.logo{
    max-width: 236px;
    max-height: 75px;
    margin-right: 50px;
}

.search{
    position: relative;
    width: 300px;
}

.search .icon{
    position: absolute;
    right: 10px;
    top: 1px;
    font-size: 20px;
    cursor: pointer;
}

.search input{
    width: 100%;
    border-radius: 99px;
    background-color: rgba(0,0,0,.03);
    border-color: rgba(0,0,0,.09);
    box-shadow: none;
    padding: 5px 10px;
}

.logo img{
    width: 100%;
}

.btn-kangen{
    background: #bd0303;
    border-radius: 99px;
    border:0;
    color:#fff;
}

.btn-kangen:hover{
    opacity: 0.7;
}

.cart-header{
    position: relative;
}

.cart-header i{
    font-size: 20px;
    margin-left: 5px;
}

.cart-icon{
    position: relative;
}

.cart-icon span{
    position: absolute;
    right: -17px;
    top: -11px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
}

.nav-menu{
    background: var(--primary);
}

.nav-menu .main-menu > ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.nav-menu .main-menu > ul > li{
    position: relative;
    display: inline-block;
}

.nav-menu .main-menu > ul > li a{
    display: block;
    padding: 12px 0;
    color:#fff;
    text-transform: uppercase;
}

.nav-menu .main-menu ul li:hover > a{
    color: #ffdd00;
}

.nav-menu .main-menu ul > li > ul.sub-menu{
    position: absolute;
    padding: 0 10px;
    left: 0;
    top: 43.5px;
    min-width: 350px;
    background: var(--primary);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    visibility: hidden;
    opacity: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999;
}

.nav-menu .main-menu ul > li > ul.sub-menu > li{
    display: block;
    border-bottom: 1px solid #6b7cbe;
}

.nav-menu .main-menu ul > li > ul.sub-menu > li:last-child{
    border-bottom: none;
}

.nav-menu .main-menu.menu-mobile ul > li > ul.sub-menu.show-menu{
    opacity: 1;
    visibility: visible;
    display: block;
}


/* Banner Main */

.main-banner{
    padding-top: 30px;
}

.main-banner .content-wrap{
    display: flex;
    align-items: center;
}

.main-banner .content-wrap .item{
    flex: 1;
}

.main-banner .content-wrap .item.left{
    padding: 20px 30px;
    border-radius: 10px;
    background: #c8d0e9;
    margin-right: 10px;
    box-shadow: 1px 2px 8px 1px rgb(0,0,0,0.1);
}

.read-more{
    display: block;
    background: #ffdd00;
    color:#333;
    max-width: fit-content;
    margin:0 auto;
    margin-top: 10px;
}

.main-banner .title{
    color: var(--primary);
    font-size: 25px;
    font-weight: 600;
    padding-left: 8px;
    border-left: 4px solid var(--primary);
}

.main-banner .content{
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    color: #434e78;
}

.sliders .slick-slide{
    padding-bottom: 10px;
}

.collect-youtube{
    max-height: 380px;
    overflow-y: scroll;
}

.collect-youtube::-webkit-scrollbar{
    width: 5px;
}
.collect-youtube::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.collect-youtube::-webkit-scrollbar-thumb {
    background: #e41818; 
}
.collect-youtube::-webkit-scrollbar-thumb:hover {
    background: #c01515;
    cursor: pointer;
}

.section-youtube .content{
    background: #F2F5FB;
    padding: 20px 10px;
    border-radius: 5px;
}

.section-youtube .section-title .icon{
    display: block;
    margin-bottom: 0;
}

section .section-title h3 a{
    position: relative;
}

.section-youtube .section-title h3 a{
    color: #E41818;
}

section .section-title h3 a:after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100px;
    background:var(--primary);
}

.section-youtube .section-title h3 a:after{
    background: #E41818;
}

.youtube-item{
    display: flex;
    align-items:flex-start;
    padding: 10px;
    border-left: 5px solid transparent;
}

.youtube-item.active{
    border-color:var(--primary);
}

a.youtube-item:hover{
    border-color:var(--primary);
}

.youtube-item .video-thumb{
    width: 130px;
    min-width: 130px;
    margin-right: 15px;
}

.youtube-item .youtube-list{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.youtube-item .youtube-title{
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.youtube-main-title{
    text-align: center;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
}

.youtube-item .youtube-list img{
    position: absolute;
    width: 130px;
    height: 97px;
    top: -16.84%;
    left: 0;
    opacity: .7;
    border-radius: 5px
}

.youtube img{
    width: 100%;
    height: 135%;
}

.section-solution .img{
    overflow: hidden;
    padding: 30px;
}

.section-solution .img img{
    cursor: pointer;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.section-solution .img img:hover{
    transform: scale(1.05);
}

.section-solution .info p{
    line-height: 1.5;
    padding: 10px 15px;
    background: #f5f5f5;
    border-radius: 10px;
    text-align: justify;
}

.info-logo{
    text-align: center;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}

.border-none{
    border-radius: 0 !important;
}

.section-news .news-wrapper .news-img{
    width: 350px;
    min-width: 350px;
    height: 196.88px;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 7px;
}

.news-wrapper{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.news-wrapper:before{
    content: '';
    position: absolute;
    height: 128px;
    width: 6px;
    background: #8cc63f;
    top: 20px;
    left: -6px;
}

.news-wrapper .top-news{
    padding: 30px;
    border: 1px solid rgba(0, 74, 128, 0.4);
    border-radius: 15px;
    background: #fff;
}

.news-wrapper .top-news .news-info{
    padding-left: 10px;
}

.news-wrapper .item{
    display: flex;
}

.bottom-news-item .news-img{
    width: 100%;
    height: 196.88px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.bottom-news-item .title{
    text-align:center;
    font-size:25px;
    text-transform: uppercase;
    color: var(--primary);
}

.bottom-news-item .content{
    margin-top: 15px;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 10px;
    background: #fff;
    padding-bottom: 15px;
}

.bottom-news-item .content .news-info{
    padding: 10px;
}

.bottom-news-item .content .news-info h4{
    font-size: 17px;
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 23px;
}

.bottom-news-item .content .news-info p{
    margin-bottom: 0;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.bottom-news-item .news-first{
    border-bottom: 1px solid #ddd;
}

.bottom-news-item .news-first > a{
    display: block;
    padding: 5px 5px 0 5px;
}

.bottom-news-item .news-lists .item{ 
    border-bottom: 1px solid #ddd;
}

.bottom-news-item .news-lists .item a{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 61px;
    text-transform: capitalize;
}

section.call-to-action{
    background: #4d60a5;
    padding: 40px 0;
    border-bottom: 2px solid #fff;
}

section.call-to-action .left{
    display: flex;
}

section.call-to-action .left .content{
    margin-left: 25px;
    align-self: center;
}

.icon-hand-oke img{
    filter: invert(79%) sepia(83%) saturate(1637%) hue-rotate(357deg) brightness(101%) contrast(106%);
}

.benefit-item{
    text-align: center;
}

.benefit-item .icon i{
    font-size: 70px;
    color: var(--primary);
}

.benefit-item .info{
    margin-top: 20px;
}

.benefit-item .info p{
    color: var(--primary);
}

.contact-home-block{
    display: flex;
    margin-bottom: 20px;
}

.contact-home-block .item{
    display: flex;
    flex: 1;
}

.section-contact {
    background: #4d60a5;
    padding-top: 50px;
    padding-bottom: 30px;
}

.section-contact .section-title h3 a{
    color: var(--yellow);
}

.section-contact .section-title p{
    color: #fff;
}

.contact-home-block .item:first-child{
    margin-right: 15px;
}

.contact-home-block .item .image{
    width: 64px;
    min-width: 64px;
    margin-right: 20px;
}

.contact-home-block .item .info p{
    margin-bottom: 10px;
    color: #fff;
}

.contact-home-block .item .info p:last-child{
    text-align: justify;
}

.contact-form{
    padding: 15px 20px;
    background: #ddd;
    border-radius: 8px;
}

.contact-form .frm-title{
    font-size: 20px;
    color: var(--primary);
    margin-bottom: 20px;
    text-align: center;
}

.cusomter-slider .item{
    padding: 0 15px;
}

.cusomter-slider .item .image{
    text-align: center; 
}

.cusomter-slider .item .image img{
    border-radius: 5px;
}

.cusomter-slider .item .info{
    text-align: justify;
    margin-top: 15px;
}

.cusomter-slider .item .customer-name{
    text-align: center;
    margin-top: 10px;
}

.cusomter-slider .item .customer-name h5{
    color: var(--primary);
}

footer{
    padding: 40px 0;
    background: var(--primary);
    color: #fff;
}

footer a{
    color :#fff;
}

footer a:hover{
    color: #fff;
}

footer .footer-middle{
    margin-top: 20px;
}

footer .footer-middle .title{
    position: relative;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
}

footer .footer-middle .title:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 40px;
    background: #ddd;
}

.footer-bottom{
    padding: 30px 0;
    background: #5b5b5b;
}

.footer-bottom .payment-text{
    color: #ddd;
}

.footer-bottom .payment-text p{
    margin-bottom: 10px;
}

.page-title{
    padding: 20px 0;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #485a9d;
    color: #fff;
}

.page-title h3{
    text-align: center;
}

/* SiderBar */

.siderbar .siderbar-item{
    margin-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.siderbar .siderbar-title{
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary);
}

.siderbar .siderbar-title:before{
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background: #ddd;
    bottom: -10px;
    left: 0;
}


/* End siderbar */

/* Content Style */

.content-detail{
    margin-bottom: 30px;
    font-size: 16px;
}

.content-detail .aligncenter{
    clear: both;
    display: block;
    margin: 15px auto;
}

.content-detail ul{
    padding-left: 20px;
}

.content-detail img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 15px auto;
}

.content-detail li{
    list-style: unset;
}

.content-detail pre, 
.content-detail blockquote, 
.content-detail form, 
.content-detail figure,
.content-detail p, 
.content-detail dl, 
.content-detail ul, 
.content-detail em, 
.content-detail ol{
    margin-bottom: 13px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}


.content-detail.height-fixed{
    max-height: 600px;
    overflow: hidden;
}

.show-all{
    height: 100% !important;
    max-height: 100% !important;
}

.height-fixed.blur-content{
    position: relative;
}

.height-fixed.blur-content:after{
    content: "";
    display: block;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,hsla(0,0%,100%,0)),to(#fff));
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fff);
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Quote */

blockquote {
    background: #f9f9f9;
    border-left: 6px solid #4d60a5; 
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.image-block{
    margin-bottom: 15px;
}

.image-block a{
    display: block;
}

.frm-kangen .title{
    font-size: 18px;
    color: var(--primary);
    margin-bottom: 15px;
}

.installment{
    margin: 35px 0;
    padding-top: 30px;
}

.installment > .title{
    color: #F52222;
}

.installment > .title p{
    color: var(--primary);
    text-align: center;
}

.installment .content{
    background: #f8f7fd;
    padding: 15px;
    border-radius: 5px;
}

/* Cart */

.header-btn-cart{
    /* position: relative; */
}

.header-btn-cart:hover{
    opacity: 1;
}

.header-btn-cart .alert-cart{
    display: none;
    position: absolute;
    width: 300px;
    top: 30px;
    left: -40px;
    padding: 25px;
    background: #27397a;
    color: #fff;
    border-radius: 5px;
    text-align:center;
    z-index: 999999;
}

.header-btn-cart .alert-cart:before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 42%;
    border: 10px solid transparent;
    border-bottom-color: #27397a;
}

.header-btn-cart .alert-cart .close{
    position: absolute;
    top: 3px;
    right: 3px;
    color: #fff;
    opacity: 1;
    font-size: 10px;
}

.popup-cart-content .list-cart{
    max-height: 500px;
    overflow: auto;
    padding-right: 10px;
}

.popup-cart-content .list-cart::-webkit-scrollbar{
    width: 5px;
}
.popup-cart-content .list-cart::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.popup-cart-content .list-cart::-webkit-scrollbar-thumb {
    background: var(--primary); 
}
.popup-cart-content .list-cart::-webkit-scrollbar-thumb:hover {
    background: #c01515;
    cursor: pointer;
}

.popup-cart-content .cart-item{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.popup-cart-content .cart-item:last-child{
    border-bottom: 0;
}

.popup-cart-content .cart-item .image{
    margin-right: 15px;
}

.popup-cart-content .cart-item .product-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.popup-cart-content .cart-item .product-info .price{
    color: #bd0303;
    font-weight: 600;
}

.popup-cart-content .cart-item .product-info .content .price-old{
    color: #bd0303;
}

.popup-cart-content .empty-cart{
    text-align:center;
    font-size: 17px;
    color: var(--primary);
}

.flash-text {
    color: #fd0;
    animation: blinkMe .8s linear infinite;
}
@keyframes blinkMe {
0% {
    opacity: 1;
    color: #fd0;
}
50% {
    opacity: 0.5;
    color: #fff;
}   
100% {
    opacity: 1;
    color: #fd0;
}
}

/*HOTLINE RUNG*/

.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
}
.hotline-phone-ring {
position: relative;
visibility: visible;
background-color: transparent;
width: 110px;
height: 110px;
cursor: pointer;
z-index: 11;
-webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0);
transition: visibility .5s;
left: 0;
bottom: 0;
display: block;
}
.hotline-phone-ring-circle {
    width: 100px;
    height: 100px;
    top: 2px;
    left: 1px;
position: absolute;
background-color: transparent;
border-radius: 100%;
border: 2px solid #eb2f06;
-webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
transition: all .5s;
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
width: 75px;
height: 75px;
top: 14px;
left: 14px;
position: absolute;
background-color: rgba(235, 47, 6, 0.7);
border-radius: 100%;
border: 2px solid transparent;
-webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
transition: all .5s;
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
    background-color: #eb2f06;
    width: 50px;
    height: 50px;
    top: 27px;
    left: 27px;
position: absolute;
background-size: 20px;
border-radius: 100%;
border: 2px solid transparent;
-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
align-items: center;
justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
    width: 40px;
    height: 40px;
}
.hotline-bar {
position: absolute;
background: rgba(235, 47, 6, 0.75);
height: 40px;
width: 180px;
line-height: 40px;
border-radius: 3px;
padding: 0 10px;
background-size: 100%;
cursor: pointer;
transition: all 0.8s;
-webkit-transition: all 0.8s;
z-index: 9;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
border-radius: 50px !important;
left: 33px;
bottom: 37px;
}
.hotline-bar > a {
color: #fff;
text-decoration: none;
font-size: 15px;
font-weight: bold;
text-indent: 50px;
display: block;
letter-spacing: 1px;
line-height: 40px;
font-family: Arial;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
}
30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
}
100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
}
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
}
50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
}
100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
}
}
@-webkit-keyframes phonering-alo-circle-img-anim {
0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
}
10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
}
20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
}
30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
}
40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
}
50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
}
100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
}
}

.hotline-phone-ring-wrap.hotline{
    bottom: 80px;
}

.hotline .hotline-phone-ring-circle{
    border-color: #0662eb
}

.hotline .hotline-phone-ring-circle-fill{
    background-color: rgb(6 108 235 / 70%);
}

.hotline .hotline-phone-ring-img-circle{
    background-color: #0662eb;
}

.hotline .hotline-bar{
    background: rgb(7 97 235);
}

/*END*/

.question-answer .card-header{
    padding: 0;
    border: 0;
}

.question-answer .card{
    margin-bottom: 10px;
}

/* Comment */
.comments-box{
    padding: 15px;
    background: #f8f7fd;
    border-radius: 5px;
}

.comments-lists{
    margin: 20px 0;
}

.comments-lists .item{
    margin-bottom: 15px;
}

.comments-lists .item .comment-name .avatar{
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    padding: 5px;
    font-weight: 600;
    background: #ddd;
    border-radius: 50%;
    margin-right: 5px;
}

.comments-lists .item .comment-name .name{
    font-weight: 600;
    margin-right: 15px;
}

.comments-lists .item .comment-name .time{
    font-style: italic;
    opacity: 0.7;
}

.comment-content{
    margin-left: 40px;
    margin-top: 10px;
}

/* End Comment */


/* Rating */

.rating{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.rating .star-box{
    margin-right: 20px;
}

.rating .text{
    font-weight: 600;
    font-size: 17px;
}

.rating .star-box i{
    font-size: 30px;
    cursor: pointer;
}

.rating .star-box i:hover{
    color: #ffdd01;
}

.rating .star-box i.active{
    color: #ffdd01;
}

/* End Rating */


/* Social */

.social{
    position: fixed;
    left: 10px;
    top: 40vh;
}

.social .item-social{
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 28px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px
}

.item-social.btn-facebook{
    background: #3b5998;
}

.item-social.btn-zalo{
    background: transparent;
}

.item-social.btn-zalo img{
    vertical-align: top;
}

.item-social.btn-google{
    background: #dd4b39;
}

.item-social.btn-twitter{
    background: #2ba9e1;
}

.item-social.btn-instagram{
    background: #517fa4;
}

.item-social.btn-youtube{
    background: #E41818;
}

.section-policy{
    padding: 30px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-policy .title{
    padding: 10px;
    background: #293c90;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
}

.section-policy .content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.policy-item{
    max-width: 300px;
    padding: 15px;
    background: #293c90;
    color: #fff;
    border-radius: 5px;
}

.policy-item .image{
    display: block;
    margin: 0 auto;
}

.policy-item-title{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.policy-item-des{
    margin: 10px 0;
}

.policy-item a{
    display: block;
    margin: 0 auto;
    width: 70px;
    color: #293c90;
    background: #fff;
}

